.head-one{
font-size: 40px;
margin: 5%;
}
.first-section{
    display: flex; 
    margin-left: 5% ;
    margin-top: 12%;
    margin-bottom: 15%;
}
.div-one{
    width: 50%;
}
.anchor-one{
    background-image: linear-gradient(yellow, orange); border-radius: 7px; font-weight: 800; font-size: 20px;
    margin: 10px 20px; padding: 10px 30px; text-decoration: none;
} 
.para-one{
    font-size: 20px; margin-bottom: 50px;
}
.span-one{
    color: salmon;
}
#div-id-one{
    background-image: url(images/shapes/Group\ 8447.png);
    background-repeat: no-repeat; background-size: 100% 100%;
}
.div-second{
    width: 50%; padding: 0% 5%
}
#anchor-id{
    background-image: linear-gradient(orange, violet);
}
#second-section-id{
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat; margin-top: 50px;
    background-size: cover; display: flex; padding:none; padding: 5%
}
.img-two{
    width: 500px; height: 300px; 
}
#head-two{
    text-align: center; font-size: 30px; font-weight: 700; 
}
.para-two{
    text-align: center; font-size: 20px; font-weight: 400;
}
.div-three{
    display: flex;
}
.div-four{
    width: 80%; padding: 40px; margin: 15px; box-shadow: 10px 10px 15px gray; border-radius: 20px;
}
.para-four{
    font-size: 20px; font-family: 'Courier New', Courier, monospace;
}
.img-four{
    width: 400px; height: 300px; border-radius: 15px;
}
.div-five{
    display: flex; margin: 5%; padding: 5%;
}
.head-six{
 font-size: 35px; font-weight: 600;
}
.para-six{
    font-size: 20px;
}
#head-id-six{
    text-align: left;
}
#head-id-seven{
    text-align: center;
}
#head-id-eight{
    text-align: right;
}
footer{
    text-align: center; background-color: tomato; padding: 35px 50px; margin: 0%;
}
#span-two{
    font-size: 35px; font-weight: bolder; 
}
#footer-para{
    font-size: large;
}